body {
  background-color: LightGray;
  }
h1 {
  background-color: SlateBlue;
  color: White;
  text-align: Center;
  }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
p {
  font-family: Arial;
  text-align: Left;
  }
a {
  font-family: Arial;
  text-align: Center;
  }
  
